
sidePadding = 30px
scrollItemMargin = 4px

.Weeks
  position: relative
  height: 100%
  width: 100%
  overflow: hidden

  &-card
    position: relative
    z-index: 20
    top: 20vh
    left: sidePadding


  &-label
    padding-left: .2rem

  &-cardWrapper
    display: none
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;

    &.isSelected
      display: flex

  &-number
     cursor: pointer
     padding-right: 1rem

  &-dateWrapper
    padding-top: .3rem

  &-startDay,
  &-endDay,
  &-year,
  &-index
    display: block

  &-scrollerWrapper
    overflow: hidden

    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: -100px // hides scrollbar
    z-index: 10

    opacity: 0
    transition: opacity 100ms ease.inQuad

    &:before
      position: absolute
      left: (sidePadding + scrollItemMargin + 1px)
      bottom: 100px
      content: ' '

      display: none
      width: 0px
      border-left: 1px dashed #ddd
      height: 60vh

    &:after
      position: absolute;
      top: calc(76vh - 1px)
      left: (sidePadding + scrollItemMargin)
      content: ' '

      display: block
      height: 4px
      width: 4px
      background: hotpink
      border-radius: 50px

    &.isVisible
      opacity: 1

  &-scroller
    overflow: auto
    -webkit-overflow-scrolling: touch
    width: 100%
    height: 100%
    position: relative;

  &-scrollerList
    display: flex
    align-items: flex-start
    flex-wrap: nowrap
    white-space: nowrap

    position: relative
    top: 76vh
    padding-left: sidePadding

  &-scrollerItem
    height: 2px
    flex: 1
    margin: 0 scrollItemMargin
    background: hotpink

    position: relative;
    text-align: center

  &-scrollerItemYear
    position: absolute
    left: -5px
    top: -5px
    height: 40px
    width: 2px
    background: #ddd

  &-scrollerItemYearText
    position: absolute
    top: 42px
    left: -10px
