.Weeks
  position: relative
  height: 100%
  width: 100%
  overflow: hidden

  &-cards
    position: relative
    height: 100%
    transition: transform 300ms ease.inOutCirc
    cursor: grab

  &-card
    position: relative;
    height: 100%
    width: 100%
    float: left

    display: flex
    flex-direction: column;
    justify-content: center;
    align-items: center;

  &-number
     color: blend(rgba(#FFFFFF, 0.9), color.background)
     cursor: pointer
