<!DOCTYPE html>
<html>
  <head>
    <title>Vecka - 14islands.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="weekNumber"><%= weekNumber %></h1>
    <span class="weekDaysText"><%= weekDaysText %></span>
  </body>
</html>
