<!DOCTYPE html>
<html>
  <head>
    <title>Vecka - 14islands.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1 class="weekNumber"><%= weekNumber %></h1>
    <h2 class="weekDaysText"><%= weekDaysText %></h2>
  </body>
</html>
