<!DOCTYPE html>
<html>
  <head>
    <title>Vecka - 14islands.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <% for(var i=0; i< weeks.length; i++) {%>
    <div class="week <% if(weeks[i].isTodaysWeek()) { %>isCurrent<% } %>" style="left: <%= (weeks[i].getIndex()*100) %>%">
      <h1 class="week-number"><%= weeks[i].getNumber() %></h1>
      <h2 class="week-daysText"><%= weeks[i].getDayText() %></h2>
    </div>
    <% } %>
    <script src="/javascripts/main.js"></script>
    <script>
      if ('serviceWorker' in navigator) {
        console.log('Service Worker is supported');
        navigator.serviceWorker.register('/service-worker.js').then(function(reg) {
          console.log('Service Worker registered');
        }).catch(function(err) {
          console.log('Service Worker error', err);
        });
      }
    </script>
  </body>
</html>
