*
  box-sizing: border-box;
  margin: 0;
  border: 0;

html,
body
  height: 100%;

body
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eccd00;
  -webkit-font-smoothing: antialiased;
