* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
html,
body {
  height: 100%;
}
body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eccd00;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: sans-serif;
  font-size: 100%;
  display: flex;
}
h1 {
  font-size: 5rem;
}
@media (min-width: 700px) {
  h1 {
    font-size: 8rem;
  }
}
h2 {
  font-size: 1rem;
  font-weight: normal;
}
.weekNumber {
  color: rgba(253,250,230,1);
}
