.week
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  display: none
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.isCurrent
    display: flex

.week-number
   color: blend(rgba(#FFFFFF, 0.9), #eccd00)
