
/*
* Breakpoints
*/

breakpoint = {
	medium: 700px
  large: 1200px
}

/*
* Colors
*/

color = {
	background: #121738
	primary: #d17c78
	secondary: #909090
}

/*
* Font weight
*/

fontWeight = {
	normal: 300
	medium: 500
	bold: 700
}

/*
* zIndexes
*/

zIndex = {
	info: 10
}
