
/*
* Breakpoints
*/

breakpoint = {
	medium: 700px
}

/*
* Colors
*/

color = {
	background: #f6f6f6
	main: #186b4e
	secondary: #909090
}

/*
* Font weight
*/

fontWeight = {
	normal: 300
	medium: 500
	bold: 700
}
