*
  box-sizing: border-box;
  margin: 0;
  border: 0;

html,
body
  height: 100%
  overflow: hidden

body
  position: relative
  background-color: color.background
  transition: background 600ms ease.inOutQuad

  &.season-winter
    background-color: #121738

  &.season-spring
    background-color: #23614b

  &.season-summer
    background-color: #feffa1

  &.season-fall
    background-color: #362f2d

.company-logo
  position: fixed;
