*
  box-sizing: border-box;
  margin: 0;
  border: 0;

html,
body
  height: 100%
  overflow: hidden

body
  background-color: color.background
  transition: background 300ms ease.inOutQuad

  &.season-winter
    background-color: #121738

  &.season-spring
    background-color: #186b4d

  &.season-summer
    background-color: #ffff65

  &.season-fall
    background-color: #362f2d
