
@font-face {
  font-family: 'sweden_sansregular'
  src:  url('/fonts/swedensans-webfont.woff2') format('woff2'),
        url('/fonts/swedensans-webfont.woff') format('woff')
  font-weight: fontWeight.medium
  font-style: normal
}

body
  font-family: 'sweden_sansregular', sans-serif
  font-size: 18px
  -webkit-font-smoothing: antialiased;
  color: color.main

h1
  font-size: pxToRem(125)
  //letter-spacing: -0.05em
  font-weight: fontWeight.medium
  line-height: 1

  @media (min-width: breakpoint.medium)
    font-size: 8rem

.t-dateTime
  font-size: 1.15rem
  font-weight: fontWeight.medium
  color: color.secondary
  line-height: 1.3

.t-label
  font-size: .7rem
  font-weight: fontWeight.medium
  color: color.secondary
  line-height: 1.3
